Create a Pandas Series from the following list of values:
values = [25, 30, 35, 40, 45, 50, 55, 60, 65, 70]
Then, perform the following tasks:

* Convert the list into a Pandas Series and assign custom labels (index) to represent the months of the year (e.g., 'Jan', 'Feb', 'Mar', etc.).
* Retrieve the value for the month of 'Mar'.
* Increase all values by 10%.
* Filter out values greater than 50.
* Find the index (month) corresponding to the maximum value in the Series.
* Check if any values are divisible by 5.
* Replace all values that are greater than 60 with the value 60.
* Perform an operation to create a new Series that shows the cumulative sum (running total) of the values.

In [2]:
import pandas as pd 
my_list = pd.Series([25, 30, 35, 40, 45, 50, 55, 60, 65, 70])

In [3]:
my_list.index = ['jan','fab','mar','apr','may','jun','july','aug','sep','oct']
print(my_list)

jan     25
fab     30
mar     35
apr     40
may     45
jun     50
july    55
aug     60
sep     65
oct     70
dtype: int64

In [4]:
print(my_list['mar'])

35

In [ ]:
my_list =my_list +(my_list *0.1)
my_list

jan     27.5
fab     33.0
mar     38.5
apr     44.0
may     49.5
jun     55.0
july    60.5
aug     66.0
sep     71.5
oct     77.0
dtype: float64

In [7]:
print(my_list[my_list>50])

jun     55.0
july    60.5
aug     66.0
sep     71.5
oct     77.0
dtype: float64

In [8]:
# Find the index (month) corresponding to the maximum value in the Series.
print(my_list.idxmax())

oct

In [9]:
print(my_list %5 ==0)

jan     False
fab     False
mar     False
apr     False
may     False
jun      True
july    False
aug     False
sep     False
oct     False
dtype: bool

In [10]:
my_list[my_list >60] = 60
print(my_list)

jan     27.5
fab     33.0
mar     38.5
apr     44.0
may     49.5
jun     55.0
july    60.0
aug     60.0
sep     60.0
oct     60.0
dtype: float64

In [11]:
# Perform an operation to create a new Series that shows the cumulative sum (running total) of the values.

print(my_list.cumsum())

jan      27.5
fab      60.5
mar      99.0
apr     143.0
may     192.5
jun     247.5
july    307.5
aug     367.5
sep     427.5
oct     487.5
dtype: float64